.snap {
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.snap::-webkit-scrollbar {
    display: none;
}

.hide {
    opacity: 0;
    transition: all 2s;
}

.showing {
    opacity: 1;
    transition: all 2s;
}

.part1_container {
    height: 92vh;
    background-color: rgb(255, 255, 255);
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 100px 8vh 100px;
}

.part1_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
}

.part1_text {
    display: flex;
    flex-direction: column;
}

.part1_title {
    font-size: 4.8rem;
    color: orange;
    margin: 0;
}

.part1_title2 {
    font-size: 4rem;
    color: black;
    margin: 0;
}

.part1_paragraph {
    font-size: 1.2rem;
    margin-top: 40px;
    font-weight: 300;
    line-height: 1.9rem;
}

.part1_image {
    width: auto;
    height: auto;
    max-width: 600px;
    max-height: 400px;
    object-fit: cover;
}

.part2_container {
    font-family: 'Playfair Display', serif;
    /* height: 100%; */
    background-color: #0f0f0f;
    color: white;
    scroll-snap-align: start;
}

.padding {
    display: grid;
    gap: 20px 50px;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 60px;
}

.heading_content {
    font-weight: 500;
    margin: 0px;
    /* padding: 50px 20px 20px 20px; */
}

.paragraph1 {
    font-size: 1.1rem;
    line-height: 1.4rem;
    color: #eed0b8;
}

.paragraph2 {
    font-size: 1.1rem;
    line-height: 1.4rem;
    color: #eed0b8;
}

.part3_container {
    height: 100%;
    padding: 40px 50px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    scroll-snap-align: start;
}

.title_div {
    font-family: 'Playfair Display', serif;
    font-size: 2.2rem;
    text-align: center;
    padding: 10px 0px 20px 0px;
}

.title_span {
    background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=orange);
    padding: 5px 22px;
}

.text {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.8rem;
    width: 75%;
    margin: 20px auto;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 60px 0px 60px;
}

.icon {
    font-size: 40px;
    border: 1px solid rgb(0, 0, 0);
    padding: 7px;
    border-radius: 50%;
    transition: all 500ms;
}

.icon:hover {
    font-size: 45px;
}

.app,
.website,
.youtube {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    scroll-snap-align: start;
    padding: 40px 50px;
    /* border-bottom: 1px solid rgb(255, 157, 0); */
}

.header {
    text-align: center;
    padding: 20px;
    font-size: 1.8rem;
}

.topic {
    padding: 15px;
    transition: all 500ms;
    border: 1px solid rgb(0, 0, 0);
    /* border-radius: 25px; */
}

.topic:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.content {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    margin-top: 50px;
    display: grid;
    gap: 10px 60px;
    grid-template-columns: 1.75fr 1fr;
}

.paragraph {
    padding: 10px 0px 10px 0px;
    font-weight: 300;
    line-height: 1.7rem;
    /* text-align: center; */
    font-size: 1.05rem;
}

.group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.visit_btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    display: block;
    /* background-color: rgb(0, 0, 0); */
    background-color: white;
    /* color: white; */
    color: black;
    border: 1.5px solid rgb(255, 157, 0);
    padding: 15px 12px;
    margin: 20px 20px 10px 20px;
    border-radius: 25px;
    transition: all 500ms;
}

.visit_btn:hover {
    background-color: rgb(255, 157, 0);
    border: 1.5px solid rgb(255, 157, 0);
    font-size: 1.05rem;
}

.wrap {
    margin: auto;
}

.logos {
    margin: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "a b"
        "c c";
}

.logo {
    max-height: 130px;
    max-width: 130px;
    border-radius: 100%;
    margin: 0px auto;
    padding: 0 10px;
    transition: all 500ms;
    animation: fadeIn 3s infinite;
}

.logo:nth-last-of-type(1) {
    grid-area: a;
}

.logo:nth-last-of-type(2) {
    grid-area: b;
}

.logo:nth-of-type(3) {
    grid-area: c;
}

.logo:hover {
    max-height: 140px;
    max-width: 140px;
}

.content_reverse {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    margin-top: 50px;
    display: grid;
    gap: 10px 60px;
    grid-template-columns: 1fr 1.75fr;
}

.logo_website {
    max-height: 175px;
    max-width: 175px;
    border-radius: 100%;
    transition: all 500ms;
}

.subicon {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: none;
    background-color: rgb(17, 158, 246);
    color: white;
    position: absolute;
    display: block;
    opacity: 0;
    transition: all 500ms;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.logo_website:hover {
    max-height: 200px;
    max-width: 200px;
    border-radius: 100%;
}

.texticon {
    font-size: 0.65rem;
    font-family: 'Merienda', cursive;
    font-weight: 300;
}

.appear {
    opacity: 1;
    transition: all 500ms;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1280px) {
    .part1_container {
        padding: 0 75px 8vh 75px;
    }

    .part1_wrapper {
        column-gap: 30px;
    }
    
    .part1_title {
        font-size: 3.8rem;
    }
    
    .part1_title2 {
        font-size: 3.2rem;
    }
    
   .part1_paragraph {
       font-size: 1.1rem;
       line-height: 1.7rem;
   }

   .part1_image {
       max-width: 530px;
       max-height: 450px;
   }
}

@media screen and (max-width: 1024px) {
    .part1_container {
        padding: 30px 75px 8vh 75px;
    }

    .part1_wrapper {
        flex-direction: column;
        row-gap: 40px;
    }
    
    .part1_text {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 35px;
    }
    
    .part1_titles {
        width: 75%;
    }
    
    .part1_title {
        font-size: 3rem;
        margin: 8px 0px;
    }
    
    .part1_title2 {
        font-size: 2.5rem;
    }
    
    .part1_paragraph {
        font-size: 1.1rem;
        line-height: 1.9rem;
        width: 90%;
    }
    
    .part1_image {
        max-width: 500px;
        max-height: 450px;
    }
}

@media screen and (max-width: 764px) {
    .part1_wrapper {
        flex-direction: column;
        row-gap: 40px;
    }
    
    .part1_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .part1_titles {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .part1_title {
        font-size: 3rem;
    }
    
    .part1_title2 {
        font-size: 2.5rem;
    }
    
    .part1_paragraph {
        font-size: 1.1rem;
        line-height: 1.7rem;
        text-align: center;
        /* display: none; */
    }
    
    .part1_image {
        max-width: 400px;
        max-height: 450px;
    }

    .padding {
        display: block;
        padding: 50px 20px;
    }

    .part3_container {
        padding: 50px 20px;
    }

    .title_div {
        font-size: 1.7rem;
    }

    .text {
        font-size: 1.1rem;
        line-height: 1.4rem;
    }

    .icons {
        padding: 20px 0px 0px 0px;
    }

    .paragraph1 {
        font-size: 1.1rem;
        line-height: 1.4rem;
    }

    .paragraph2 {
        font-size: 1.1rem;
        line-height: 1.4rem;
    }

    .content {
        margin-top: 50px;
        display: grid;
        gap: 10px 60px;
        grid-template-columns: 1fr;
    }

    .content_reverse {
        margin-top: 50px;
        display: grid;
        gap: 10px 60px;
        grid-template-columns: 1fr;
    }

    .wrap {
        margin: 20px auto 30px auto;
    }

    .paragraph {
        margin: 20px 0px 20px 0px;
    }
}

