.container {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    color: rgb(0, 0, 0);
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: solid 1px orange; */
}

.title {
    font-family: 'Merienda', cursive;
    margin: 0px 0px 0px 5px;
    color: orange;
    font-size: 2rem;
    font-weight: 600;
    transition: all 500ms;
}

.title:hover {
    font-size: 2.2rem;
}

.links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

.link {
    transition: all 500ms;
    margin: 0px 20px;
}

.link:hover {
    color: rgb(255, 255, 255);
    background-color: orange;
    padding: 10px;
    border-radius: 15px;
}

.icon {
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
    transition: all 500ms;
}

.icon:hover {
    font-size: 1.8rem;
    color: orange;
}

@media screen and (max-width: 600px) {
    .links {
        display: none;
    }

    .icon {
        display: block;
    }

}