.container {
    background-color: #000;
    padding: 10px;
    color: white;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font: 1.4rem;
    margin: 0px;
}

.links {
    width: 75%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

.icon {
    font-size: 1.2rem;
}

@media screen and (max-width: 500px) {
    .links {
        display: none;
    }
}