.container {
    height: 175px;
    width: 100vw;
    background-color: white;
    color: black;
    z-index: 3;
}

.changed {
    transform: translateY(0);
    animation: slideDown 0.5s ease;
}

@keyframes slideDown {
    from {
        transform: translateY(-10vh);
    }

    to {
        transform: translateY(0);
    }
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link {
    margin-left: auto;
}

.main_link {
    text-align: center;
    padding: 12px;
    width: 100%;
    height: 100%;
    display: none;
    transition: all 0.5s;
    border-bottom: 1px solid orange;
}

.main_link:hover {
    background-color: #ffa500;
}

@media screen and (max-width: 600px) {
    .main_link {
        display: block;
    }
}

@media screen and (min-width: 600px) {
    .container {
        display: none;
        height: 0vh;
    }

}