/* .container {} */

.header {
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid #000;
    margin: 0px 15px;
}

.title {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}

.label {
    position: absolute;
    left: -99999px;
}

/* .select::-ms-expand {
    display: none;
} */

.select {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5em 2em 0.5em 0.5em;
    margin: 0px 10px;
    border: 1px solid #000;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
    background-position: right 15px top 1em, right 10px top 1em;
    background-size: 5px 5px, 5px 5px;
    transition: all 500ms;
    outline: none;
}

.select:hover {
    color: #fff;
    background-color: black;
    transition: all 500ms;
    border: 1px solid orange;
}

.select:focus {
    color: #fff;
    background-color: black;
    transition: all 500ms;
    border: 1px solid orange;
}


.button {
    background-color: white;
    color: black;
    padding: 4px 10px;
    margin: 5px 10px;
    border: 1px solid #000;
    border-radius: 5px;
    transition: all 500ms;
}

.button:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid orange;
}

.latest {
    /* height: 100%; */
    background-color: antiquewhite;
}

.heading {
    text-align: center;
    padding: 20px 0px;
    font-size: 1.2rem;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 25px;
}