.heading {
    text-align: center;
    padding: 40px 0px 30px 0px;
    font-size: 1.2rem;
}

.topic {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    transition: all 500ms;
    scroll-behavior: smooth;
}

.topic::-webkit-scrollbar {
    display: none;
}

.topic_title {
    transition: all 700ms;
    padding: 12px;
}

.topic_title:hover {
    color: #fff;
    border: 1px solid black;
    background-color: #000;
}

.scroll_icon {
    font-size: 40px;
    min-width: 50px;
    margin: 0px 12px;
    transition: all 500ms;
}

.scroll_icon:hover {
    font-size: 50px;
    color: orange;
}

.wrap {
    display: flex;
    align-items: center;
}

.card {
    height: 350px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto 20px auto;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    transition: all 500ms;
}

.card2 {
    height: 350px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5px 20px 20px 20px;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    transition: all 500ms;
    /* flex: 0 0 auto; */
}

.card:hover,
.card2:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.05);
}

.title {
    padding: 0px 12px 0px 12px;
    font-size: 0.9rem;
    text-align: center;
}

.img {
    object-fit: cover;
    width: 100%;
    max-height: 200px;
}

.text {
    font-weight: 300;
    font-size: 0.8rem;
    padding: 0px 10px;
    margin: 0px 0px 5px 0px;
}

.extra {
    margin: 15px auto 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10%;
    font-weight: 100;
}

.date,
.name,
.topic {
    font-size: 0.7rem;
    margin: 0px 5px 0px 5px;
}

.play {
    font-size: 1.4rem;
    transition: all 500ms;
}

.play:hover {
    color: orange;
    font-size: 1.6rem;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 25px;
}

@media screen and (max-width: 600px) {
    .card {
        width: 250px;
    }

    .card2 {
        width: 250px;
    }

    .img {
        height: 160px;
    }

    .scroll_icon {
        font-size: 30px;
        min-width: 35px;
        margin: 0px 8px;
    }

    .scroll_icon:hover {
        font-size: 35px;
    }
}