.header {
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    margin: 0px auto;
    border-bottom: 2px solid orange;
}

.website {
    font-weight: 700;
    font-size: 1.5rem;
    padding-top: 10px;
}